<div class="absolute z-50 top-5 right-5 flex flex-col gap-3 w-80" role="alert">
  @for (toast of toastrService.toastrs(); track toast) {
  <div
    class="relative overflow-hidden rounded-lg border p-4 shadow-lg transition-all duration-300 flex items-start gap-2 bg-white"
    [ngClass]="{
      'border-red-200 text-red-800 shadow-red-100': toast.type === 'ERROR',
      'border-green-200 text-green-800 shadow-green-100':
        toast.type === 'SUCCESS'
    }"
  >
    <div
      class="flex h-8 w-8 shrink-0 items-center justify-center rounded-full"
      [ngClass]="{
        'bg-red-100 text-red-600': toast.type === 'ERROR',
        'bg-green-100 text-green-600': toast.type === 'SUCCESS',
      }"
    >
      @if(toast.type === 'ERROR') {
      <mat-icon>cancel</mat-icon>
      } @else if(toast.type === 'SUCCESS') {
      <mat-icon>check_circle</mat-icon>
      }
    </div>

    <div class="flex-1 pt-1 text-sm font-medium">
      {{ toast.body }}
    </div>

    <div
      class="absolute bottom-0 left-0 h-1 transition-all ease-linear"
      [ngClass]="{
        'bg-red-500': toast.type === 'ERROR',
        'bg-green-500': toast.type === 'SUCCESS'
      }"
      [style.width.%]="100"
      style="animation: shrink 5s linear forwards"
    ></div>
  </div>
  }
</div>
<router-outlet></router-outlet>
