<table class="w-full text-left border-collapse">
  <thead>
    <tr
      class="bg-slate-50/30 text-slate-400 text-[10px] font-black uppercase tracking-widest border-b border-slate-100"
    >
      <th class="px-6 py-4.5">Compte</th>
      <th class="px-6 py-4.5">Type d'opération</th>
      <th class="px-6 py-4.5">Référence</th>
      <th class="px-6 py-4.5 text-right">Montant appliqué</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-slate-100 text-sm">
    @for(tx of transactions();track tx.id){
    <tr class="hover:bg-slate-50/60 transition-colors">
      <td class="px-6 py-4 font-mono font-bold text-slate-500">
        {{ tx.accountNumber }}
      </td>
      <td class="px-6 py-4">
        <span
          [ngClass]="getTxBadgeClass(tx.transactionType)"
          class="inline-flex items-center px-2.5 py-0.5 rounded-md text-[10px] font-extrabold border uppercase tracking-wider"
        >
          {{ tx.transactionType }}
        </span>
      </td>
      <td class="px-6 py-4">
        <button
          (click)="viewTransactionDetails(tx)"
          class="text-indigo-600 font-bold underline hover:text-indigo-800 cursor-pointer focus:outline-none bg-transparent border-none p-0 flex items-center gap-1"
        >
          {{ tx.reference }}
          <mat-icon class="text-[14px] !w-[14px] !h-[14px] no-underline"
            >open_in_new</mat-icon
          >
        </button>
      </td>
      <td class="px-6 py-4 text-right font-black text-slate-700">
        <span
          [class.text-emerald-600]="tx.transactionType === 'DEPOSIT'"
          [class.text-rose-600]="tx.transactionType === 'WITHDRAWAL'"
        >
          {{ tx.transactionType === "WITHDRAWAL" ? "-" : "+" }}
          {{ tx.originalAmount | number : "1.0-2" }}
        </span>
        <span class="text-[10px] text-slate-400 font-mono ml-1">{{
          tx.transactionCurrency
        }}</span>
      </td>
    </tr>
    }
  </tbody>
</table>
@if(totalPages() > 0){
<div class="mt-4 flex w-full max-w-lg mx-auto">
  <app-pagination
    [currentPage]="currentPage()"
    [totalPages]="totalPages()"
    (onPageChange)="goToPage($event)"
  ></app-pagination>
</div>
}
