<mat-form-field appearance="outline" class="w-full">
  <mat-label>{{ label() }}</mat-label>
  <input
    matInput
    [type]="hidePassword ? 'password' : 'text'"
    [formControl]="control()"
    placeholder="*****"
  />
  <mat-icon matPrefix class="mr-2 text-gray-400">vpn_key</mat-icon>
  <button
    mat-icon-button
    matSuffix
    (click)="hidePassword = !hidePassword"
    type="button"
  >
    <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
  @if(invalidControl){
  <mat-error>
    @for(error of errors(); track error.value) {
    <span *ngxControlError="control(); track: error.value">
      {{ error.message }}
    </span>
    }
  </mat-error>
  }
</mat-form-field>
