<div class="py-4 flex flex-col h-full">
  <div class="px-4 mb-6" *hasRole="'ADMIN'">
    <a
      routerLink="/my-app/admin/dashboard"
      class="flex items-center gap-3 p-3 rounded-lg hover:bg-blue-50 text-gray-700 transition-all"
    >
      <mat-icon color="primary">dashboard</mat-icon>
      <span class="font-semibold text-sm italic">Tableau de bord</span>
    </a>
  </div>

  <nav class="flex-grow space-y-4 px-4 overflow-y-auto">
    <section *hasRole="'CLIENT'">
      <p
        class="text-xs font-bold text-gray-400 uppercase tracking-widest mb-3 ml-2"
      >
        Espace Client
      </p>
      <div class="flex flex-col gap-1">
        <a routerLink="/my-app/clients/my-accounts" class="nav-link"
          ><mat-icon>account_balance</mat-icon> Mes Comptes</a
        >
        <a routerLink="/my-app/clients/transfert" class="nav-link"
          ><mat-icon>swap_horiz</mat-icon> Effectuer Virement</a
        >
      </div>
    </section>

    <section *hasRole="['ADMIN', 'EMPLOYE']">
      <p
        class="text-xs font-bold text-gray-400 uppercase tracking-widest mb-3 ml-2"
      >
        Gestion Opérationnelle
      </p>
      <div class="flex flex-col gap-1">
        <a routerLink="/my-app/managment/customers" class="nav-link"
          ><mat-icon>people</mat-icon> Listes des clients</a
        >
        <a routerLink="/my-app/managment/operation-cash" class="nav-link"
          ><mat-icon>payments</mat-icon> Opérations Caisse</a
        >
        <a routerLink="/my-app/managment/account-list" class="nav-link"
          ><mat-icon>account_balance_wallet</mat-icon> Listes des comptes</a
        >
      </div>
    </section>

    <section *hasRole="'ADMIN'">
      <p
        class="text-xs font-bold text-gray-400 uppercase tracking-widest mb-3 ml-2"
      >
        Administration
      </p>
      <div class="flex flex-col gap-1">
        <a routerLink="/my-app/admin/transactions" class="nav-link"
          ><mat-icon>receipt_long</mat-icon> Transactions</a
        >
        <a routerLink="/my-app/admin/interest-rate-log" class="nav-link"
          ><mat-icon>account_balance</mat-icon> Taux d'Intérêt</a
        >
        <a routerLink="/my-app/admin/create-client" class="nav-link"
          ><mat-icon>person_add</mat-icon> Inscription Client</a
        >
        <a routerLink="/my-app/admin/clients" class="nav-link"
          ><mat-icon>people</mat-icon> Listes Client</a
        >
        <a routerLink="/my-app/admin/utilisateurs" class="nav-link"
          ><mat-icon>manage_accounts</mat-icon> Utilisateurs & Rôles</a
        >
        <a routerLink="/my-app/admin/currencies" class="nav-link"
          ><mat-icon>payments</mat-icon> Gestion monétaire</a
        >
        <a routerLink="/my-app/admin/settings" class="nav-link"
          ><mat-icon>settings</mat-icon> Configuration</a
        >
      </div>
    </section>
  </nav>

  <div class="p-4 mt-auto border-t">
    <button
      mat-stroked-button
      class="w-full !bg-blue-600 hover:!bg-blue-700 !text-white"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon> Déconnexion
    </button>
  </div>
</div>
