<form
  [formGroup]="transactionForm"
  #formDirective="ngForm"
  (ngSubmit)="executeTransaction(formDirective)"
  class="p-6 sm:p-8 flex flex-col gap-4"
>
  <!-- Numéro du compte -->
  <div class="flex flex-col">
    <label
      class="text-[10px] font-black uppercase text-slate-400 tracking-widest mb-1.5 flex items-center gap-1"
    >
      <mat-icon class="text-[12px] !w-[12px] !h-[12px]">badge</mat-icon>
      Identifiant de Compte
    </label>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Numéro de compte bénéficiaire</mat-label>
      <input
        matInput
        formControlName="accountNumber"
        placeholder="Ex: ACC-2026-X"
      />
      <mat-icon matSuffix class="text-slate-400">search</mat-icon>
    </mat-form-field>
  </div>

  <!-- Devise de transaction -->
  <div class="flex flex-col">
    <label
      class="text-[10px] font-black uppercase text-slate-400 tracking-widest mb-1.5 flex items-center gap-1"
    >
      <mat-icon class="text-[12px] !w-[12px] !h-[12px]">paid</mat-icon>
      Unité Monétaire
    </label>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Sélectionner la devise d'échange</mat-label>
      <mat-select formControlName="currencyCode">
        <mat-option *ngFor="let curr of currencies()" [value]="curr.code">
          {{ curr.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Montant de la transaction -->
  <div class="flex flex-col">
    <label
      class="text-[10px] font-black uppercase text-slate-400 tracking-widest mb-1.5 flex items-center gap-1"
    >
      <mat-icon class="text-[12px] !w-[12px] !h-[12px]"
        >monetization_on</mat-icon
      >
      Valeur Numéraire
    </label>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Montant de l'opération</mat-label>
      <input
        matInput
        type="number"
        formControlName="amount"
        placeholder="0.00"
      />
      <span matSuffix class="text-xs font-bold text-slate-400 pr-2">VAL</span>
    </mat-form-field>
  </div>

  <!-- Libellé / Description -->
  <div class="flex flex-col">
    <label
      class="text-[10px] font-black uppercase text-slate-400 tracking-widest mb-1.5 flex items-center gap-1"
    >
      <mat-icon class="text-[12px] !w-[12px] !h-[12px]">description</mat-icon>
      Libellé de l'écriture
    </label>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Motif ou remarque de transaction</mat-label>
      <textarea
        matInput
        formControlName="description"
        rows="3"
        placeholder="Ex: Versement d'espèces guichet 4..."
      ></textarea>
    </mat-form-field>
  </div>

  <!-- ACTIONS INFERIEURES (EXECUTER / ANNULER) -->
  <div
    class="flex items-center justify-end gap-3 pt-4 border-t border-slate-100 mt-2"
  >
    <!-- Bouton Annuler -->
    <button
      mat-button
      type="button"
      (click)="onCancel()"
      class="!px-6 !py-5.5 !rounded-xl !text-slate-500 hover:!bg-slate-100 font-bold text-xs uppercase tracking-wide"
    >
      Réinitialiser
    </button>

    <!-- Bouton Exécuter (Dynamique selon Dépôt/Retrait) -->
    <button
      mat-raised-button
      type="submit"
      [disabled]="transactionForm.invalid || submitting()"
      [color]="currentType() === 'DEPOSIT' ? 'primary' : 'warn'"
      [ngClass]="
        currentType() === 'DEPOSIT' ? 'shadow-emerald-100' : 'shadow-rose-100'
      "
      class="!px-8 !py-5.5 !rounded-xl shadow-lg font-bold text-xs uppercase tracking-wide"
    >
      <mat-icon class="mr-1.5 scale-90">swap_horizontal_circle</mat-icon>
      Valider le {{ currentType() === "DEPOSIT" ? "Dépôt" : "Retrait" }}
    </button>
  </div>
</form>
