<div class="p-2 sm:p-4 max-w-full overflow-hidden">
  <div class="flex items-center gap-3 mb-6 border-b pb-4">
    <div class="p-2 bg-blue-100 rounded-lg">
      <mat-icon class="text-blue-600">person_add</mat-icon>
    </div>
    <div>
      <h2 class="text-xl font-bold text-gray-800 m-0">Nouveau collaborateur</h2>
      <p class="text-xs text-gray-500">
        Ajouter un employé au système de micro-finance
      </p>
    </div>
  </div>

  <form
    [formGroup]="createForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4"
  >
    <app-input
      [control]="username"
      [placeholder]="'Ex. jean_dupont'"
      [icon]="'person'"
      [label]="'Pseudo'"
      [errors]="[
        { value: 'required', message: 'Votre pseudo est recquis' },
        { value: 'minlength', message: 'Le pseudo a au moins 4 caracteres' }
      ]"
    ></app-input>

    <app-input
      [control]="email"
      [placeholder]="'email@votre-banque.mg'"
      [icon]="'alternate_email'"
      [type]="'email'"
      [label]="'Adresse Email'"
      [errors]="[
        { value: 'required', message: 'Votre Adresse Email est récquis' },
        { value: 'email', message: 'Email format invalide' }
      ]"
    ></app-input>

    <div
      class="flex flex-col sm:flex-row items-center justify-end gap-3 mt-4 pt-4 border-t"
    >
      <button
        mat-button
        type="button"
        (click)="onCancel()"
        class="w-full sm:w-auto order-2 sm:order-1"
      >
        Annuler
      </button>
      <app-submit-button
        [isLoading]="creating()"
        [label]="'Enregistrer'"
        [loadingLabel]="'Chargement'"
        [icon]="'check'"
      ></app-submit-button>
      <!-- <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="createForm.invalid"
        class="w-full sm:w-auto order-1 sm:order-2 shadow-md"
      >
        <mat-icon class="mr-1">check</mat-icon>
        Créer l'employé
      </button> -->
    </div>
  </form>
</div>
